@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif; 
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    min-height: 70vh;
    display: flex;
    align-items: center;
}
header{
    background-image: url(imagenes/hero.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.menu {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.menu .logo {
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    align-items: center;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
   
}
.menu .navbar ul {
    list-style: none;
}
.menu .navbar ul li a:hover {
    color: #0EAEF3;
}
.social-1 img{
    width: 30px;
    margin: 10px;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.hearder-content{
    padding: 100px 0px;
    display: flex;
    align-items: center;
}
.header-txt p{
    width: 50%;
    padding-right: 100px;
    margin-left: 100px;
    display: flex;

}
.header-txt h1{
    font-size: 140px;
    line-height: 150px;
    color: black;
    margin-top: 25px;
}
p{
    font-size: 18px;
    color: #424242;
    
}
.btn-2 {
    display: inline-block;
    background-color: rgba(170, 177, 255, 0.3);
    border: 1px solid #AAB1FF;
    margin: 35px 10px 0px 0px;
    padding: 13px 30px;
    color: #5850BC;
    border-radius: 25px;
    font-size: 18px;
}
.btn-2:hover {
    background-color: #AAB1FF;
}
.header-img{
    width: 100%;
    text-align: center;
}

.about{
    padding: 100px 0px;
    background-color: #ffffff
}

.about-img{
    width: 50%;
    text-align: center;
}
.about-img img{
    width: 350px;
}
.imagen-img{
    width: 100%;
    text-align: center;
}
.imagenes-img{
    width: 100%;
    text-align: center;
}

h2{
    font-size: 80px;
    line-height: 90px;
    color: #3f3f3f;
    margin-bottom: 25px;
    text-align: center;
}

footer {
    padding: 200px 0px 30px 0px;
    background-image: url(imagenes/footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}
.contact{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    display: flex;
}
.campo{
    padding: 17px 35px;
    background-color: #0EAEF3;
    border-radius: 25px;
    margin-right: 15px;
    border: 1px solid #e8e8e8;
    outline: none;
    color: #e8e8e8;
}
.campo::placeholder{
    color: black;
}
.form-content{
    padding: 100px 0 70px 0;
    text-align: center;
}
.form-content h2{
    font-size: 50px;
    color: #3f3f3f;
    margin-bottom: 25px;

}
@media (max-width:991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #5850BC;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    header {
        min-height: 0vh;
    }

    .header-content {
        flex-direction: column;
        padding: 130px 30px 80px 30px;
    }
    .header-txt{
        width: 100%;
        padding-right: 0;
        text-align: center;
        margin-bottom: 15px;
    }

    .imagen-img{
        width: 50%;
        text-align: center;
        
    }
    .imagenes-img{
        width: 50%;
        text-align: center;
        
    }

    .content {
        padding: 0px;
    }

    .content h1 {
        margin-top: 100px;
        font-size: 45px;
    }

    .content p {
        margin-top: 0px;
    }

    .header-content img {
        width: 50%;
    }
    .header-img img{
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
   

    footer {
        padding: 0px 30px 30px 30px;
    }

    
    .ft-a{
        margin: 0px 0px 25px 0px;
        text-align: center;
        color: #ffffff;
    }
    .form-content{
        padding: 30px;
    }
    form{
        flex-direction: column;
    }
    .campo{
        margin-bottom: 20px;
    }
}
